body {
    background: white;
    font: 14pt arial;
    color: black;
}

.boxOferta {
    float: left;
    border: 1pt solid black;
    margin: 5%;
    width: 39%
}

.boxOferta .descricao {
    margin-left: 10px;
}

.boxOferta .cobertura {
    margin-left: 10px;
}

.boxPerfil {
    clear: both;
    border: 1pt solid black;
    margin: 50px 10%;
    width: 80%;
    height: 650px;
}

.boxPerfil .parametro {
    width: 200px;
    clear: both;
    float: left;
    margin: 10px 10px;
    padding: 20px 0px;
}

.boxPerfil .campo {
    float: left;
    margin: 10px 0px;
}

.parametro {
    width: 400px;
    clear: both;
    float: left;
    margin: 10px 10px;
    padding: 20px 0px;
}

.campo {
    float: left;
    margin: 10px 0px;
}

.titulo {
    text-align: center;
    font-weight: bold;
}

input[type=text] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
}

input[type=radio] {
    margin: 20px 10px;
    box-sizing: border-box;
}

select {
    width: 260px;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
}

.btnSelecionar {
    display: inline-block;
    border-radius: 8px;
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 18px;
    padding: 20px;
    width: 200px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
    background-color: #0076c3;
}

.btnSelecionar span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}

.btnSelecionar span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
}

.btnSelecionar:hover span {
    padding-right: 25px;
}

.btnSelecionar:hover span:after {
    opacity: 1;
    right: 0;
}

.loading {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, .5);
}

.loading-wheel {
    width: 20px;
    height: 20px;
    margin-top: -40px;
    margin-left: -40px;
    position: absolute;
    top: 50%;
    left: 50%;
    border-width: 30px;
    border-radius: 50%;
    -webkit-animation: spin 1s linear infinite;
}

.style-2 .loading-wheel {
    border-style: double;
    border-color: #ccc transparent;
}

@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0);
    }
    100% {
        -webkit-transform: rotate(-360deg);
    }
}